./scanTFile
./diffTFiles

Hist/runMain.d
Hist/.clang-tidy
Hist/runMain
Hist/corrlib
Hist/obj
Hist/output
Hist/input/root/json
Hist/input/jerc/*.json
Hist/condor/tmpSub
Hist/condor/__pycache__
Hist/input/root/__pycache__

Hist/tmp
Hist/files
Hist/pileup
Hist/rootfiles
